<h1 class="center">Pokemons List</h1>

<input
    type="number"
    (click)="selectPokemon($event)"
/>
<input
    #input
    (keyup)="0"
    type="text"
/>
<input
    #index
    (keyup.enter)="selectPokemon2(index.value)"
    type="number"
/>
<p>{{ input.value }}</p>

@if (pokemonSelected) {
    <p>You selected the pokemon {{ pokemonSelected?.name }}</p>
}
@if (!pokemonSelected) {
    <p>The pokemon does not exist</p>
}

<div class="container">
  <div class="row">
    @for (pokemon of pokemonList; track pokemon.name) {
      <div class="col m4 s6">
        <div class="card horizontal" pokemonBorderCard="red">
          <div class="card-image">
            <img [src]="pokemon.picture" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>{{ pokemon.name }}</p>
              <p><small>{{ pokemon.created | date:"dd/MM/yyyy" }}</small></p> 
              @for (type of pokemon.types; track type) {
                <span class="{{ type | pokemonTypeColor }}">
                  {{ type }}
              </span>
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
